{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/publications.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/awards.css' %}">
{% endblock %}

{% block body %}
  <div class="container content">
    {% if request.user.has_member_permissions and unpublished_awards %}
      <h1 class="main-header">Unlisted Awards</h1>
      <p>Only visible to graduate members.</p>
      <div class="mb-5">
        {% for award in unpublished_awards %}
          {% include 'core/components/award.html' %}
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="main-header">
      Awards
      {% if request.user.has_member_permissions %}
        <a class="main-header-button" href="{% url 'award_create' %}">
          <i class="fas fa-circle-plus ms-2"></i>
        </a>
      {% endif %}
    </h1>
    <div class="mb-5">
      {% for award in awards %}
        {% include 'core/components/award.html' %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
