{% extends 'core/base.html' %}

{% load staticfiles %}
{% load bootstrap5 %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container content">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6">
        <h1>Award</h1>
        <div class="alert">
          <i class="fas fa-exclamation-circle me-1"></i>
          A website administrator must confirm new content before it is published to the website.
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex">
            <button class="btn btn-secondary" type="submit">Add Award</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}








