{% extends 'core/base.html' %}

{% load staticfiles %}

{% block body %}
  <div id="fh5co-work-section">
    <div class="container">
      <div class="heading-section text-center" style="margin-top: 30px; margin-bottom:0px">
        <h2>International Conference</h2>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div style="font-weight: bold">Fast and Efficient MMD-based Fair PCA via Optimization over Stiefel Manifold
          </div>
          <div>Junghyun Lee, Gwangsu Kim, Matt Olfat, Mark Hasegawa-Johnson, Chang D. Yoo</div>
          <div> AAAI Conference on Artificial Intelligence (AAAI) 2022</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Neural Processes with Stochastic Attention: Paying more attention to the
            context dataset
          </div>
          <div>Mingyu Kim, Kyeong Ryeol Go, Se-Young Yun</div>
          <div> Conference on Neural Information Processing Systems (NeurIPS) Workshop: 5th Workshop on Meta-Learning
          </div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">FedBABU: Towards Enhanced Representation for Federated Image Classification
          </div>
          <div>Jaehoon Oh, SangMook Kim, Se-Young Yun</div>
          <div> Conference on Neural Information Processing Systems (NeurIPS) Workshop 2021</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">FINE Samples for Learning with Noisy Labels</div>
          <div>Taehyeon Kim, Jongwoo Ko, Sangwook Cho, Jinhwan Choi, Se-Young Yun</div>
          <div> Conference on Neural Information Processing Systems (NeurIPS) 2021</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Comparing Kullback-Leibler Divergence and Mean Squared Error Loss in Knowledge
            Distillation
          </div>
          <div>Taehyeon Kim, Jaehoon Oh, NakYil Kim, Sangwook Cho, Se-Young Yun</div>
          <div> International Joint Conferences on Artificial Intelligence(IJCAI) 2021</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">BOIL: Towards Representation Change for Few-shot Learning</div>
          <div>Jaehoon Oh, Hyungjun Yoo, ChangHwan Kim, Se-Young Yun</div>
          <div> International Conference on Learning Representations(ICLR) 2021</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Minimal Regret in Online Recommendation Systems</div>
          <div>Kaito Ariu, Narae Ryu, Se-Young Yun, Alexandre Proutière</div>
          <div>Neural Information Processing Systems (NeurIPS 2020)</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Convergence Rates of Gradient Descent and MM Algorithms for Bradley-Terry
            Models
          </div>
          <div>Milan Vojnovic, Se-Young Yun, and Kaifang Zhou</div>
          <div>International Conference on Artificial Intelligence and Statistics (AISTATS), Jun. 2020.</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Optimal Sampling and Clustering in the Stochastic Block Model</div>
          <div>Se-Young Yun and Alexandre Proutiere</div>
          <div>Neural Information Processing Systems (NeurIPS 2019)</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">A Pipelined Hybrid Recommender System for Ranking the Items on the Display
          </div>
          <div>Jaehoon Oh, Sangmook Kim, Se-Young Yun, Seungwoo Choi, and Mun Young Yi</div>
          <div>RecSys Challenge Workshop, Sep. 2019</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Spectral Approximate Inference</div>
          <div>Sejun Park, Eunho Yang, Se-Young Yun, and Jinwoo Shin</div>
          <div>International Conference on Machine Learning (ICML), Jun. 2019</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Reinforcement with fading memories</div>
          <div>Kuang Xu and Se-Young Yun</div>
          <div>Sigmetrics, Jun. 2018</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Non-Stationary Streaming PCA</div>
          <div>Apurv Shukla, Se-Young Yun, and Daniel Bienstock</div>
          <div>NIPS Time Series Workshop, Dec. 2017</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Collaborative Clustering: Sample Complexity and Efficient Algorithms</div>
          <div>Jungseul Ok, Se-Young Yun, Alexandre Proutiere, and Rami Mochaourab</div>
          <div>International Conference on Algorithmic Learning Theory (ALT), Oct. 2017</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">On the delay scaling laws of cache networks</div>
          <div>Boram Jin, Daewoo Kim, Se-Young Yun, Jinwoo Shin, Seongik Hong, Byoung-Joon BJ Lee, and Yung Yi</div>
          <div>International Conference on Future Internet Technologies, Jun. 2017</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Optimal Cluster Recovery in the Labeled Stochastic Block Model</div>
          <div>Se-Young Yun and Alexandre Proutiere</div>
          <div>Advances in Neural Information Processing Systems (NIPS), Dec. 2016</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Parameter Estimation for Generalized Thurstone Choice Models</div>
          <div>Milan Vojnovic and Se-Young Yun</div>
          <div>International Conference on Machine Learning (ICML), Jun. 2016</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Distributed Coordination Maximization over Networks: A Stochastic Approximation
            Approach
          </div>
          <div>Hyeryung Jang, Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>ACM International Symposium on Mobile Ad Hoc Networking and Computing (MobiHoc), Jul. 2016</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Fast and Memory Optimal Low-Rank Matrix Approximation</div>
          <div>Se-Young Yun and Alexandre Proutiere</div>
          <div>ACM SIGMETRICS International Conference on Measurement and Modeling of Computer Systems, Jun. 2015.
            (Acceptance rate: 32/239 = 13.4%)
          </div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Distributed Proportional Fair Load Balancing in Heterogeneous Systems</div>
          <div>Se-Young Yun, Marc Lelarge and Alexandre Proutiere</div>
          <div>Advances in Neural Information Processing Systems (NIPS), Dec. 2015</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Streaming, Memory Limited Algorithms for Community Detection</div>
          <div>Se-Young Yun, Marc Lelarge and Alexandre Proutiere</div>
          <div>Advances in Neural Information Processing Systems (NIPS), Dec. 2014</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Community Detection via Random and Adaptive Sampling</div>
          <div>Se-Young Yun and Alexandre Proutiere</div>
          <div>Conference on Learning Theory (COLT), Jun. 2014</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Distributed Learning for Utility Maximization over CSMA-based Wireless Multihop
            Networks
          </div>
          <div>Hyeryung Jang, Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE International conference on computer communications (INFOCOM), Apr. 2014</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Provable Per-Link Delay-Optimal CSMA for General Wireless Network Topology
          </div>
          <div>Dongmyung Lee, Donggyu Yun, Jinwoo Shin, Yung Yi, and Se-Young Yun</div>
          <div>IEEE International conference on computer communications (INFOCOM), Apr. 2014</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Distributed Load Balancing in Heterogeneous Systems</div>
          <div>Se-Young Yun and Alexandre Proutiere</div>
          <div>Proceedings of CISS (invited paper), 2014</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">CSMA over Time-varying Channels: Optimality, Uniqueness and Limited Backoff
            Rate
          </div>
          <div>Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>ACM International Symposium on Mobile Ad Hoc Networking and Computing (MobiHoc), Jul. 2013. (Best paper
            award- two best papers among 234 submissions)
          </div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">CSMA using the Bethe Approximation for Utility Maximization</div>
          <div>Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE International Symposium on Information Theory (ISIT), Jul. 2013</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">From Glauber Dynamics To Metropolis Algorithm: Smaller Delay in Optimal CSMA
          </div>
          <div>Chul-Ho Lee, Do Young Eun, Se-Young Yun, and Yung Yi</div>
          <div>IEEE International Symposium on Information Theory (ISIT), Jul. 2012</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Optimal CSMA: A Survey</div>
          <div>Se-Young Yun, Yung Yi, Jinwoo Shin, and Do Young Eun</div>
          <div>IEEE ICCS (invited paper), 2012</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Open or close: on the sharing of femtocells</div>
          <div>Se-Young Yun, Yung Yi, Dong-Ho Cho, and Jeonghoon Mo</div>
          <div>IEEE International conference on computer communications (INFOCOM) mini-conference, Apr. 2011</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Multi-channel MAC protocol for QoS support in ad-hoc network</div>
          <div>Kyung-Seop Shin, Se-Young Yun, and Dong-Ho Cho</div>
          <div>IEEE Consumer Communications and Networking Conference (CCNC), Jan. 2011</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Traffic density based power control scheme for femto AP</div>
          <div>Se-Young Yun, and Dong-Ho Cho</div>
          <div>IEEE International Symposium on Personal, Indoor and Mobile Radio Communications (PIMRC), Sep. 2010</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">On the pricing of femtocell services</div>
          <div>Se-Young Yun, Yung Yi, Dong-Ho Cho, and Jeonghoon Mo</div>
          <div>Proceedings of International Conference on Future Internet Technologies, 2010</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Decentralized power control scheme in femtocell networks: A game theoretic
            approach
          </div>
          <div>Eun Jin Hong, Se-Young Yun, and Dong-Ho Cho</div>
          <div>IEEE International Symposium on Personal, Indoor and Mobile Radio Communications (PIMRC), Sep. 2009</div>
          <hr>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
