<div class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-md-6 mb-4">
        <h1>OSI LAB</h1>
        <div>KAIST Kim Jaechul Graduate School of AI</div>
        <div>KAIST Seoul Campus</div>
        <div>85, Hoegi-ro, Dongdaemun-gu</div>
        <div>Seoul, South Korea</div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <h1>Links</h1>
        <a class="d-block" href="https://scholar.google.com/citations?user=jf2LFEwAAAAJ&sortby=pubdate">
          <i class="fas fa-graduation-cap me-1"></i>
          Google Scholar
        </a>
        <a class="d-block" href="https://github.com/osilab-kaist">
          <i class="fab fa-github me-2"></i>
          GitHub
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        Copyright {% now 'Y' %} © OSI LAB. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
