{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block body %}
  <div class="container intro">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 px-5 px-md-0">
        <p class="intro-paragraph">
{#          OSI Lab studies optimization and statistical inference. We solve a wide range of research from the#}
{#          theoretical analysis of traditional machine learning to the application of the latest deep learning.#}

          Welcome to the Optimization and Statistical Inference Lab of KAIST AI.
        </p>
        <p class="intro-paragraph">
          Our members tackle a wide range of problems, from theoretical analysis of traditional machine learning, to
          the latest research topics in deep learning. See publications for details.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
