{% extends 'core/base.html' %}

{% load staticfiles %}

{% block body %}
  <div id="fh5co-work-section">
    <div class="container">
      <div class="heading-section text-center" style="margin-top: 30px; margin-bottom:0px">
        <h2>International Journals</h2>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div style="font-weight: bold">Game Theoretic Perspective of Optimal CSMA</div>
          <div>Hyeryung Jang, Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE Transactions on Wireless Communications, vo. 17, no.1, pp. 194–209, Jan. 2018</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Distributed Medium Access over Time-varying Channels</div>
          <div>Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE/ACM Transactions on Networking, vol. 24, no. 5, pp. 3000–3013, Oct. 2016</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">Delay Optimal CSMA with Linear Virtual Channels under a General Topology</div>
          <div>Donggyu Yun, Dongmyung Lee, Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE/ACM Transactions on Networking, vol. 24, no. 5, pp. 2847–2857, Oct. 2016</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">CSMA using the Bethe Approximation: Scheduling and Utility Maximization</div>
          <div>Se-Young Yun, Jinwoo Shin, and Yung Yi</div>
          <div>IEEE Transactions on Information Theory, vol. 61, no. 9, pp. 4776–4787, Sep. 2015</div>
          <hr>
        </div>

        <div class="col-md-12">
          <div style="font-weight: bold">The Economic Effects of Sharing Femtocells</div>
          <div>Se-Young Yun, Yung Yi, Dong-Ho Cho, and Jeonghoon Mo</div>
          <div>IEEE Journal on Selected Areas in Communications, vol. 30, no. 3, pp. 595–606, April 2012</div>
          <hr>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
