{% extends 'core/base.html' %}

{% load staticfiles %}

{% block body %}

  <div id="fh5co-common-section">
    <div class="container">
      <div class="heading-section text-center">
        <h2>Professor</h2>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-3">
            <img src="{% static 'core/images/members/professor.png' %}" alt="..." class="img-thumbnail">
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="overlay-section">
              <div class="desc">
                <h3>Se-Young Yun</h3>
                <div>Assistant Professor</div>
                <div>Graduate School of AI</div>
                <div>Department of Industrial and System Engineering</div>
                <div>KAIST, Daejeon, South Korea</div>
                <div>Phone: +82 42 350 1619</div>
                <div>Email: yunseyoung@kaist.ac.kr</div>
                <div>Homepage: https://fbsqkd.github.io</div>
                <div>Nationality: Korean (south)</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row about">
        <div class="col-md-12">
          <div style="font-weight: bold; padding-top: 10px">Education</div>
          <div>B.S. Electrical Engineering, KAIST, Feb. 2006 -Summa Cum Laude</div>
          <div>Ph.D. Electrical Engineering (advisor : Prof. Dong-Ho Cho), KAIST, Feb. 2012</div>
          <div style="font-size:small">Thesis: Traffic and User Density Based Decentralized Power Control and Economical
            Analysis in Femtocell Networks
          </div>

          <div style="font-weight: bold; padding-top: 10px">Awards and Scholarships</div>
          <div>Outstanding Reviewer Award, NIPS, 2016</div>
          <div>Best Paper Award, ACM MobiHoc, 2013</div>
          <div>BK21 Scholarship, Korea, 2012</div>
          <div>Summa Cum Laude, KAIST, 2006</div>
          <div>Academic Scholarship, given to those of high GPA, KAIST, from spring 2003 to Autumn 2005</div>


          <div style="font-weight: bold; padding-top: 10px">Professional Experience</div>
          <div>Assistant Professor in KAIST, Daejeon, South Korea</div>
          <div style="font-size:small">from July. 2017 to Present</div>
          <div>Post-doctoral researcher in Los Alamos National Lab., Los Alamos, NM, USA</div>
          <div style="font-size:small">from April. 2016 to July. 2017 (Host: Dr. Michael Chertkov)</div>
          <div>Visiting researcher in Microsoft Research, Cambridge, UK</div>
          <div style="font-size:small">from June. 2015 to Mar. 2016 (Host: Dr. Milan Vojnovic)</div>
          <div>Post-doctoral researcher in Microsoft Research - Inria Joint Center, France</div>
          <div style="font-size:small">from Apr. 2014 to Apr. 2015 (Host : Prof. Marc Lelarge)</div>
          <div>Post-doctoral researcher in Dept. Automatic Control, KTH, Sweden</div>
          <div style="font-size:small">from Feb. 2013 to Mar. 2014 (Host : Prof. Alexandre Proutiere)</div>
          <div>Post-doctoral researcher in Dept. Electrical Engineering, KAIST, Korea</div>
          <div style="font-size:small">from Feb. 2012 to Feb. 2013 (Host : Prof. Yung Yi)</div>
          <div>Teaching assitant in Dept. Electrical Engineering, KAIST, Korea</div>
          <div style="font-size:small">from Mar. 2008 to Feb. 2010</div>


          <div style="font-weight: bold; padding-top: 10px">Service</div>
          <div>Reviewer of Journal: IEEE/ACM Trans. on Networking, IEEE Trans. on Wireless Communications,
            IEEE Trans. on Mobile Computing, Elsevier Computer Communications, IEEE Trans. on Intelligent
            Transportation Systems, Queueing Systems, IEEE Trans. on Information Theory, Bernoulli Journal, The
            Annals of Statistics, Statistical Science
          </div>
          <div>Conference Organizer: ACM Sigmetrics 2019 registration chair, IEEE BigComp 2020 tutorial chair
            TPC of Conference: IEEE ICCC 2015 WCS Symposium, ACM Sigmetrics (2016,2020), PAKDD 2017,
            WiOpt 2018, AAAI (2019,2020), IJCAI (2019,2020), UAI 2019
          </div>
          <div>Reviewer of Conference: NIPS (2016, 2017,2018,2019), ICLR (2018,2019,2020), ICML (2018,2019)</div>
        </div>
      </div>


      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>Ph.D. Students</h2>
      </div>

      <div class="row about" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12">

          {% for student_info in phd_list %}
            <div class="col-md-4 col-sm-4">
              <div style="margin-bottom:20px; font-weight:bold">
                <div>{{ student_info.name }}</div>
                <div style="font-size:xx-small">{{ student_info.period }}</div>
                <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>Integrated master’s/doctoral program</h2>
      </div>
      <div class="row about" style="display: flex; flex-wrap: wrap;">
        {% for student_info in integrated_list %}
          <div class="col-md-4 col-sm-4">
            <div style="margin-bottom:20px; font-weight:bold">
              <div>{{ student_info.name }}</div>
              <div style="font-size:xx-small">{{ student_info.period }}</div>
              <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>M.S. Students</h2>
      </div>
      <div class="row about" style="display: flex; flex-wrap: wrap;">
        {% for student_info in ms_list %}
          <div class="col-md-4 col-sm-4">
            <div style="margin-bottom:20px; font-weight:bold">
              <div>{{ student_info.name }}</div>
              <div style="font-size:xx-small">{{ student_info.period }}</div>
              <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  </div><!-- end fh5co-common-section -->


{% endblock %}








