{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/photos.css' %}">
  <script src="{% static 'core/js/photos.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="container-flex mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-11">
        {% if request.user.has_member_permissions %}
          <div class="d-flex">
            <a class="btn btn-secondary ms-auto mb-3" href="{% url 'photo_create' %}">
              <i class="fas fa-pen-to-square"></i>
              Add Photo
            </a>
          </div>
        {% endif %}
        {% if request.user.has_member_permissions and unpublished_photos %}
          <h1 class="mb-0">Pending Photos</h1>
          <p>Only visible to graduate members.</p>
          <div class="photos row g-2 g-md-3 g-xxl-4 mb-4">
            {% for photo in unpublished_photos %}
              <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <div class="photo">
                  <a class="photo-image-link" href="{{ photo.image.url }}" title="{{ photo.description }}">
                    <img class="photo-image" src="{{ photo.image.url }}">
                  </a>
                  <p class="photo-description">
                    {{ photo.description }}
                    {% if request.user.has_member_permissions %}
                      <a class="ms-2" href="{% url 'photo_update' photo.id %}">
                        <i class="fas fa-pen-to-square"></i>
                      </a>
                    {% endif %}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <h1>Photos</h1>
        {% for year in photos %}
          <h2 class="photo-year">{{ year.year }}</h2>
          <div class="photos row g-2 g-md-3 g-xxl-4 mb-4">
            {% for photo in year.photos %}
              <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
                <div class="photo">
                  <a class="photo-image-link" href="{{ photo.image.url }}" title="{{ photo.description }}">
                    <img class="photo-image" src="{{ photo.image.url }}">
                  </a>
                  <p class="photo-description">
                    {{ photo.description }}
                    {% if request.user.has_member_permissions %}
                      <a class="ms-2" href="{% url 'photo_update' photo.id %}">
                        <i class="fas fa-pen-to-square"></i>
                      </a>
                    {% endif %}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}








