{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/photos.css' %}">
  <script src="{% static 'core/js/photos.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="photos py-5">
    <div class="container content">
      <h1>
        {% if request.user.has_member_permissions %}
          <a class="" href="{% url 'photo_create' %}">
            <i class="fas fa-cloud-arrow-up p-2"></i>
          </a>
        {% endif %}
        Photos
      </h1>
      {% for year in photos %}
        <div class="d-flex align-items-center">
          <div class="photo-year-border"></div>
          <h2 class="photo-year">{{ year.year }}</h2>
        </div>
        <div class="grid" data-packery='{ "itemSelector": ".grid-item" }'>
          <div class="grid-sizer"></div>
          {% for photo in year.photos %}
            <div
                class="grid-item photo {% if photo.starred %}starred{% endif %} {% if not photo.public %}private{% endif %}">
              {% if photo.public or request.user.has_member_permissions %}
                <a href="{% url 'photo_update' photo.id %}">
                  <img src="{{ photo.image.url }}">
                </a>
              {% else %}
                <a class="photo-image-link" href="{{ photo.image.url }}">
                  <img src="{{ photo.image.url }}">
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}








