{% extends 'core/base.html' %}

{% load staticfiles %}
{% load bootstrap5 %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/news.css' %}">
{% endblock %}

{% block body %}
  <div class="container content">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6">
        <h1>Post</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex">
            <button class="btn btn-secondary" type="submit">Add Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}








