{% extends 'core/base.html' %}

{% load staticfiles %}
{% load bootstrap5 %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/news.css' %}">
{% endblock %}

{% block body %}
  <div class="container content">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6">
        <h1>Post</h1>
        {% if not request.user.is_staff %}
          <div class="alert">
            <i class="fas fa-exclamation-circle me-1"></i>
            Contact a website manager to delete this content.
          </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          <div class="mb-5">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
          <div class="d-flex">
            {% if request.user.is_staff %}
              <a class="btn btn-danger" href="{% url 'post_delete' object.id %}">Delete</a>
            {% endif %}
            <button class="btn btn-secondary ms-auto" type="submit">Update Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}








