{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/professor.css' %}">
{% endblock %}

{% block body %}
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h1>Professor</h1>
        <div class="row">
          <div class="col-12 col-md-auto me-md-3 mb-4">
            <img src="{% static 'core/images/professor.png' %}" alt="..." class="professor-profile-image">
          </div>
          <div class="col-12 col-md-auto mb-5">
            <h2 class="professor-name">Se-Young Yun</h2>
            <div>Associate Professor</div>
            <div>Kim Jaechul Graduate School of AI</div>
            <div>Korea Advanced Institute of Science and Technology</div>
            <div>Seoul Campus Building 9</div>
            <div>Phone: +82 42 350 1619</div>
            <div>Email: yunseyoung[at]kaist.ac.kr</div>
            <div>Homepage: <a href="https://fbsqkd.github.io">https://fbsqkd.github.io</a></div>
            <div>Nationality: South Korean</div>
          </div>
        </div>
      </div>
    <div class="col-12 col-md-10 mb-4">
      <h2>Education</h2>
      <div>B.S. Electrical Engineering, KAIST, Feb. 2006 -Summa Cum Laude</div>
      <div>Ph.D. Electrical Engineering (advisor : Prof. Dong-Ho Cho), KAIST, Feb. 2012</div>
      <div style="font-size:small">Thesis: Traffic and User Density Based Decentralized Power Control and
        Economical
        Analysis in Femtocell Networks
      </div>
    </div>

    <div class="col-12 col-md-10 mb-4">
      <h2>Awards and Scholarships</h2>
      <div>Outstanding Reviewer Award, NIPS, 2016</div>
      <div>Best Paper Award, ACM MobiHoc, 2013</div>
      <div>BK21 Scholarship, Korea, 2012</div>
      <div>Summa Cum Laude, KAIST, 2006</div>
      <div>Academic Scholarship, given to those of high GPA, KAIST, from spring 2003 to Autumn 2005</div>
    </div>

    <div class="col-12 col-md-10 mb-4">
      <h2>Professional Experience</h2>
      <div>Assistant Professor in KAIST, South Korea</div>
      <div style="font-size:small">from July. 2017 to Present</div>
      <div>Post-doctoral researcher in Los Alamos National Lab., Los Alamos, NM, USA</div>
      <div style="font-size:small">from April. 2016 to July. 2017 (Host: Dr. Michael Chertkov)</div>
      <div>Visiting researcher in Microsoft Research, Cambridge, UK</div>
      <div style="font-size:small">from June. 2015 to Mar. 2016 (Host: Dr. Milan Vojnovic)</div>
      <div>Post-doctoral researcher in Microsoft Research - Inria Joint Center, France</div>
      <div style="font-size:small">from Apr. 2014 to Apr. 2015 (Host : Prof. Marc Lelarge)</div>
      <div>Post-doctoral researcher in Dept. Automatic Control, KTH, Sweden</div>
      <div style="font-size:small">from Feb. 2013 to Mar. 2014 (Host : Prof. Alexandre Proutiere)</div>
      <div>Post-doctoral researcher in Dept. Electrical Engineering, KAIST, Korea</div>
      <div style="font-size:small">from Feb. 2012 to Feb. 2013 (Host : Prof. Yung Yi)</div>
      <div>Teaching assitant in Dept. Electrical Engineering, KAIST, Korea</div>
      <div style="font-size:small">from Mar. 2008 to Feb. 2010</div>
    </div>

    <div class="col-12 col-md-10 mb-4">
      <h2>Service</h2>
      <div>Reviewer of Journal: IEEE/ACM Trans. on Networking, IEEE Trans. on Wireless Communications,
        IEEE Trans. on Mobile Computing, Elsevier Computer Communications, IEEE Trans. on Intelligent
        Transportation Systems, Queueing Systems, IEEE Trans. on Information Theory, Bernoulli Journal, The
        Annals of Statistics, Statistical Science
      </div>
      <div>Conference Organizer: ACM Sigmetrics 2019 registration chair, IEEE BigComp 2020 tutorial chair
        TPC of Conference: IEEE ICCC 2015 WCS Symposium, ACM Sigmetrics (2016,2020), PAKDD 2017,
        WiOpt 2018, AAAI (2019,2020), IJCAI (2019,2020), UAI 2019
      </div>
      <div>Reviewer of Conference: NIPS (2016, 2017,2018,2019), ICLR (2018,2019,2020), ICML (2018,2019)</div>
    </div>
    </div>
  </div>
{% endblock %}








