{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/projects.css' %}">
  <script src="{% static 'core/js/projects.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="container content">
    {% if request.user.has_phd_permissions and unpublished_projects %}
      <h1 class="main-header">Unlisted</h1>
      <div id="pending-project-list" class="row mb-5">
        {% for project in unpublished_projects %}
          <div class="col-12 col-md-6 col-lg-4">
            {% include 'core/components/project.html' with project_type="pending" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="main-header">
      Projects
      {% if request.user.has_phd_permissions %}
        <a class="main-header-button" href="{% url 'project_create' %}">
          <i class="fas fa-circle-plus ms-2"></i>
        </a>
      {% endif %}
    </h1>
    <div id="active-project-list" class="row mb-5">
      {% for project in active_projects %}
        <div class="col-12 col-md-6 col-lg-4">
          {% include 'core/components/project.html' with project_type="active" %}
        </div>
      {% endfor %}
    </div>
    <h1>Past Projects</h1>
    <div id="past-project-list" class="row mb-5">
      {% for project in past_projects %}
        <div class="col-12 col-md-6 col-lg-4">
          {% include 'core/components/project.html' with project_type="past" %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}