{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/publications.css' %}">
{% endblock %}

{% block body %}
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 mb-5">
        {% if request.user.has_member_permissions %}
          <div class="d-flex">
            <a class="btn btn-secondary ms-auto mb-3" href="{% url 'publication_create' %}">
              <i class="fas fa-pen-to-square"></i>
              Add Publication
            </a>
          </div>
        {% endif %}

        {% if request.user.has_member_permissions and unpublished_publications %}
          <h1 class="mb-0">Pending Publications</h1>
          <p>Only visible to graduate members.</p>
          <div class="mb-5">
            {% for publication in unpublished_publications %}
              <div class="publication {{ publication.year }} {{ publication.type_tag }}">
                <div class="publication-tag">
                  {{ publication.type_tag }}
                </div>
                <div class="publication-title">
                  {{ publication.title }}
                  {% if request.user.has_member_permissions %}
                    <a class="ms-2" href="{% url 'publication_update' publication.id %}">
                      <i class="fas fa-pen-to-square"></i>
                    </a>
                  {% endif %}
                </div>
                <div>
                  <span class="publication-venue">{{ publication.venue }}</span>
                  <span class="publication-links">
                  {% if publication.pdf_link %}
                    [<a href="{{ publication.pdf_link }}">PDF</a>]
                  {% endif %}
                    {% if publication.video_link %}
                      [<a href="{{ publication.video_link }}">Video</a>]
                    {% endif %}
                    {% if publication.code_link %}
                      [<a href="{{ publication.code_link }}">Code</a>]
                    {% endif %}
                </span>
                </div>
                <div class="publication-author">{{ publication.authors }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <h1>Publications</h1>
        <div class="mb-5">
          {% for publication in publications %}
            <div class="publication {{ publication.year }} {{ publication.type_tag }}">
              <div class="publication-tag">
                {{ publication.type_tag }}
              </div>
              <div class="publication-title">
                {{ publication.title }}
                {% if request.user.has_member_permissions %}
                  <a class="ms-2" href="{% url 'publication_update' publication.id %}">
                    <i class="fas fa-pen-to-square"></i>
                  </a>
                {% endif %}
              </div>
              <div>
                <span class="publication-venue">{{ publication.venue }}</span>
                <span class="publication-links">
                {% if publication.pdf_link %}
                  [<a href="{{ publication.pdf_link }}">PDF</a>]
                {% endif %}
                  {% if publication.video_link %}
                    [<a href="{{ publication.video_link }}">Video</a>]
                  {% endif %}
                  {% if publication.code_link %}
                    [<a href="{{ publication.code_link }}">Code</a>]
                  {% endif %}
              </span>
              </div>
              <div class="publication-author">{{ publication.authors }}</div>
            </div>
          {% endfor %}
        </div>

        {% if request.user.has_member_permissions %}
          <h1 class="mb-0">Domestic</h1>
          <p>Only visible to graduate members.</p>
          <div class="mb-5">
            {% for publication in domestic_publications %}
              <div class="publication {{ publication.year }} {{ publication.type_tag }}">
                <div class="publication-tag">
                  {{ publication.type_tag }}
                </div>
                <div class="publication-title">
                  {{ publication.title }}
                  {% if request.user.has_member_permissions %}
                    <a class="ms-2" href="{% url 'publication_update' publication.id %}">
                      <i class="fas fa-pen-to-square"></i>
                    </a>
                  {% endif %}
                </div>
                <div>
                  <span class="publication-venue">{{ publication.venue }}</span>
                  <span class="publication-links">
                  {% if publication.pdf_link %}
                    [<a href="{{ publication.pdf_link }}">PDF</a>]
                  {% endif %}
                    {% if publication.video_link %}
                      [<a href="{{ publication.video_link }}">Video</a>]
                    {% endif %}
                    {% if publication.code_link %}
                      [<a href="{{ publication.code_link }}">Code</a>]
                    {% endif %}
                </span>
                </div>
                <div class="publication-author">{{ publication.authors }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
