{% extends 'core/base.html' %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/publications.css' %}">
  <script src="{% static 'core/js/publications.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="container content p">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 mb-5">
        <h1 class="main-header mb-3">
          Publications
          {% if request.user.has_member_permissions %}
            <a class="main-header-button" href="{% url 'publication_create' %}">
              <i class="fas fa-circle-plus ms-2"></i>
            </a>
          {% endif %}
        </h1>
        <div class="mb-5">
          <a class="btn btn-filter me-1 mb-2" id="filter-type-toggle" data-bs-toggle="offcanvas"
             href="#offcanvas-filter-type" role="button">
            Type
          </a>
          <a class="btn btn-filter me-1 mb-2" id="filter-year-toggle" data-bs-toggle="offcanvas"
             href="#offcanvas-filter-year" role="button">
            Year
          </a>
          <a class="btn btn-filter me-0 mb-2" id="filter-area-toggle" data-bs-toggle="offcanvas"
             href="#offcanvas-filter-research-area"
             role="button">
            Research Area
          </a>
          <button class="btn btn-sm text-danger me-1 mb-2" id="filter-reset" role="button" style="display: none;">
            Reset
          </button>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-filter-year"
             aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Filter by Year</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="w-100">
              {% for year in years %}
                <div class="filter-selection">
                  <input type="checkbox" class="form-check-input filter-year" id="filter-year-{{ year }}"
                         data-year="{{ year }}" autocomplete="off">
                  <label class="form-check-label" for="filter-year-{{ year }}">{{ year }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-filter-type"
             aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Filter by Publication Type</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="w-100">
              {% for type in types %}
                <div class="filter-selection">
                  <input type="checkbox" class="form-check-input filter-type" id="filter-type-{{ type.0 }}"
                         data-type="{{ type.0 }}" autocomplete="off">
                  <label class="form-check-label" for="filter-type-{{ type.0 }}">{{ type.1 }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-filter-research-area"
             aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Filter by Research Area</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="w-100">
              {% for area in research_areas %}
                <div class="filter-selection">
                  <input type="checkbox" class="form-check-input filter-area" id="filter-area-{{ area.id }}"
                         data-area-id="{{ area.id }}" autocomplete="off">
                  <label class="form-check-label" for="filter-area-{{ area.id }}">{{ area.name }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {% if request.user.has_member_permissions and unpublished_publications %}
          <div class="section">
            <div class="section-header">
              Unlisted
              <div class="section-header-border"></div>
            </div>
            {% for publication in unpublished_publications %}
              {% include "core/components/publication.html" %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="mb-5">
          {% for year in publications %}
            <div class="section">
              <div class="section-header" data-year="{{ year.year }}">
                {{ year.year }}
                <div class="section-header-border"></div>
              </div>
              {% for publication in year.publications %}
                {% include "core/components/publication.html" %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        {% if request.user.has_member_permissions %}
          <div class="section">
            <div class="section-header">
              Domestic
              <div class="section-header-border"></div>
            </div>
            {% for publication in domestic_publications %}
              {% include "core/components/publication.html" %}
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
