{% extends 'core/base.html' %}

{% load staticfiles %}

{% block body %}

  <div id="fh5co-common-section">
    <div class="container">
      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>Ph.D. Students</h2>
      </div>

      <div class="row about" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12" style="display: flex; flex-wrap: wrap;">
          {% for student_info in phd_list %}
            <div class="col-md-4 col-sm-4" style="text-align:center">
              <div style="margin-bottom:20px; font-weight:bold">
                <img src="{% static student_info.img %}" alt="..." class="img-thumbnail"
                     style="width:100%; margin-bottom:0px">
                <div>{{ student_info.name }}</div>
                <div style="font-size:xx-small">{{ student_info.period }}</div>
                <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>Integrated master’s/doctoral program</h2>
      </div>
      <div class="row about" style="display: flex; flex-wrap: wrap;">
        {% for student_info in integrated_list %}
          <div class="col-md-4 col-sm-4" style="text-align:center">
            <div style="margin-bottom:20px; font-weight:bold">
              <img src="{% static student_info.img %}" alt="..." class="img-thumbnail"
                   style="width:100%; margin-bottom:0px">
              <div>{{ student_info.name }}</div>
              <div style="font-size:xx-small">{{ student_info.period }}</div>
              <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="heading-section text-center" style="margin-bottom:0px">
        <h2>M.S. Students</h2>
      </div>
      <div class="row about" style="display: flex; flex-wrap: wrap;">
        {% for student_info in ms_list %}
          <div class="col-md-4 col-sm-4" style="text-align:center">
            <div style="margin-bottom:20px; font-weight:bold">
              <img src="{% static student_info.img %}" alt="..." class="img-thumbnail"
                   style="width:100%; margin-bottom:0px">
              <div>{{ student_info.name }}</div>
              <div style="font-size:xx-small">{{ student_info.period }}</div>
              <div style="font-size:xx-small; color: #f03861;">{{ student_info.email }}</div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  </div><!-- end fh5co-common-section -->


{% endblock %}








