{% extends 'core/base.html' %}

{% load staticfiles %}
{% load alter_email %}

{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/students.css' %}">
{% endblock %}

{% block body %}
  <div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <h1>PhD Students</h1>
      <div class="row mb-4">
        {% for student in phd_students %}
          <div class="student phd col-6 col-md-4 col-lg-3">
            <img src="{{ student.profile_image.url }}" alt="..." class="student-image">
            <div class="student-info">
              <div class="student-name">{{ student.name }}</div>
              <div class="student-title">{{ student.course_shorthand }} Student at {{ student.department }}
                ({{ student.entry_semester }})
              </div>
              <div class="student-email">
                <i class="far fa-envelope me-1"></i>{{ student.email|alter_email }}
              </div>
              {% if student.website %}
                <a class="student-website" href="{{ student.website }}">Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <h1>MS/PhD Students</h1>
      <div class="row mb-4">
        {% for student in integrated_students %}
          <div class="student phd col-6 col-md-4 col-lg-3">
            <img src="{{ student.profile_image.url }}" alt="..." class="student-image">
            <div class="student-info">
              <div class="student-name">{{ student.name }}</div>
              <div class="student-title">{{ student.course_shorthand }} Student at {{ student.department }}
                ({{ student.entry_semester }})
              </div>
              <div class="student-email">
                <i class="far fa-envelope me-1"></i>{{ student.email|alter_email }}
              </div>
              {% if student.website %}
                <a class="student-website" href="{{ student.website }}">Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <h1>MS Students</h1>
      <div class="row mb-4">
        {% for student in ms_students %}
          <div class="student ms col-6 col-md-4 col-lg-3">
            <img src="{{ student.profile_image.url }}" alt="..." class="student-image">
            <div class="student-info">
              <div class="student-name">{{ student.name }}</div>
              <div class="student-title">{{ student.course_shorthand }} Student at {{ student.department }}
                ({{ student.entry_semester }})
              </div>
              <div class="student-email">
                <i class="far fa-envelope me-1"></i>{{ student.email|alter_email }}
              </div>
              {% if student.website %}
                <a class="student-website" href="{{ student.website }}">Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <h1>Visiting</h1>
      <div class="row mb-4">
        {% for student in visiting_students %}
          <div class="student visiting col-6 col-md-4 col-lg-3">
            <img src="{{ student.profile_image.url }}" alt="..." class="student-image">
            <div class="student-info">
              <div class="student-name">{{ student.name }}</div>
              <div class="student-title">{{ student.visiting_title|default_if_none:"" }} </div>
              <div class="student-email">
                <i class="far fa-envelope me-1"></i>{{ student.email|alter_email }}
              </div>
              {% if student.website %}
                <a class="student-website" href="{{ student.website }}">Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <h1>Alumni</h1>
      <div class="row mb-4">
        {% for student in alumni_students %}
          <div class="student alumni ms col-6 col-md-4 col-lg-3">
            <div class="student-info">
              <div class="student-name">{{ student.name }}</div>
              <div class="student-title">{{ student.course_shorthand }} in {{ student.degree }}
                ({{ student.graduation_semester }})
              </div>
              <div class="student-email">
                <i class="far fa-envelope me-1"></i>{{ student.email|alter_email }}
              </div>
              {% if student.website %}
                <a class="student-website" href="{{ student.website }}">Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}








