<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>OSI LAB</title>

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/style.css">


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="index.html">OSI LAB</a>
        </div>
        <nav id="fh5co-main-nav" role="navigation">
            <ul>
                <li><a href="ourteam.html" class="active">Our Team</a></li>
                <li><a href="publication.html">Publications</a></li>
                <li><a href="project.html">Projects</a></li>
                <li><a href="seminar.html">Seminar</a></li>
                <li><a href="photo.html">Photo</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="fh5co-parallax" style="background-image: url(images/ourteam_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Our Team</h1>
                </div>
            </div>
        </div>
    </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-common-section">
    <div class="container">
        <div class="heading-section text-center">
            <h2>Professor</h2>
        </div>

        <div class="row about">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/professor.jpeg);">
                        <div class="overlay-section">
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8">
                    <div class="overlay-section">
                        <div class="desc">
                            <h3>Se-Young Yun</h3>
                            <p>I'm an assistant professor at KAIST IE. My research interests lie in mathematical modeling and analysis on networks at large, with a specific focus on clustering and learning problems.</p>
                            <div style="font-weight: bold; padding-top: 10px">Education</div>
                            <div>BS: Electrical Engineering, KAIST, 2002.3~2006.2</div>
                            <div>Ph.D: Electrical Engineering, KAIST, 2006.3~2012.2</div>

                            <div style="font-weight: bold; padding-top: 10px">Awards</div>
                            <div>Outstanding Reviewer Awards (NIPS 2016)</div>
                            <div>Best Paper Awards (ACM MobiHoc 2013)</div>
                            <div>Summa Cum Raude (KAIST 2006)</div>


                            <div style="font-weight: bold; padding-top: 10px">Work History</div>
                            <div>KAIST IE Dept. Daejeon, South Korea (2017.7 ~)</div>
                            <div>Los Alamos National Laboratory, Los Alamos, NM, USA (2016.4~2017.7)</div>
                            <div>Microsoft Research, Cambridge, UK (2015.6~2016.3)</div>
                            <div>MSR-INRIA Joint Research Center, Paris, France (2014.4~2015.4)</div>
                            <div>KTH, Stockholm, Sweden (2013.2~2014.3)</div>
                            <div>KAIST, Daejeon, South Korea (2012.2~2013.2)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading-section text-center">
            <h2>Ph.D. Candidates</h2>
        </div>
        <div class="row about">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/junghoon.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Jung-Hun Kim</h3>
                                <span>junghunkim@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/sangmook.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>SangMook Kim</h3>
                                <span>sangmook.kim@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/jaehoon.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Jaehoon Oh</h3>
                                <span>jhoon.oh@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/aamir.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Malik  Aamir</h3>
                                <span>aamirmalik@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/seongyoon.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Seongyoon Kim</h3>
                                <span>curisam@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/mingyu.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Mingyu Kim</h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading-section text-center">
            <h2>M.S. Candidates</h2>
        </div>
        <div class="row about">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/gihun.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Gihun Lee</h3>
                                <span>opcrisis@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/taehyeon.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Taehyeon Kim</h3>
                                <span>potter32@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/hyungjun.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Hyungjun Yoo</h3>
                                <span>yoohjun@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/gauvain.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Marseille Gauvain Jacques</h3>
                                <span>marseilleg@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/sangmin.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Sangmin Bae</h3>
                                <span>bsmn0223@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/jonghyup.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>Jonghyup Kim</h3>
                                <span>leenams2@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-section-grid" style="background-image: url(images/changhwan.jpg);">
                        <div class="overlay-section">
                            <div class="desc">
                                <h3>ChangHwan Kim</h3>
                                <span>kimbob@kaist.ac.kr</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- end fh5co-common-section -->
<footer>
    <div id="footer" class="fh5co-border-line">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>Copyright 2016 Free Html5 <a href="#">Neos</a>. All Rights Reserved. </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Stellar -->
<script src="js/jquery.stellar.min.js"></script>

<!-- Main JS (Do not remove) -->
<script src="js/main.js"></script>

</body>
</html>

