.award {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  line-height: 1.5;
}

.award:first-child {
  border-top: 1px solid #ddd;
}

.award .award-name {
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  /*margin-bottom: 0.25rem;*/
}

.award .award-paper {
  font-size: 0.9375rem;
  font-style: italic;
  color: #666;
}

.award .award-awardees {
  font-size: 0.9375rem;
  /*color: #666;*/
  color: #222;
  margin-top: 0.25rem;
}

.award .award-venue {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  /*color: #888;*/
  color: #F03861;
}
/*  font-size: 0.9375rem;*/
/*  font-style: italic;*/
/*  color: #666;*/
/*}*/

