body {
  padding-top: 4rem;
}

.navbar.fixed-top {
  border-bottom: 1px solid #ddd;
}

.navbar-logo-kaist {
  margin-top: 0.25rem;
  height: 1.25rem;
}

.navbar-logo-osi {
  height: 1.25rem;
}

.navbar-toggler {
  border: none;
  font-size: 1rem;
}

.main {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.main-header-wrapper {
  text-align: left;
}

.main-header {
  color: black;
  font-size: 2rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .main {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .main-header-wrapper {
    text-align: center;
  }

  .main-header {
    font-size: 3rem;
  }
}

.main-header:hover {
  color: black;
}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-desktop .dropdown-menu {
  border: none;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.05), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar-mobile .navbar-collapse {
  margin: 1rem 0.5rem 0;
}

.navbar-mobile .dropdown-menu {
  border: none;
  padding: 0;
}

.navbar-mobile .nav-item {
  padding: 0.5rem 0;
  margin: 0;
}

.navbar-mobile .nav-item.dropdown {
  padding: 0;
}

.dropdown-item {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: #444;
}

.dropdown-item:active {
  background: #ddd;
  color: #444;
}

.copyright {
  font-size: 0.75rem;
  -webkit-animation: fadeIn 1s 2s backwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.dropdown-item {*/
/*display: block;*/
/*width: 100%;*/
/*padding: .25rem 1.5rem;*/
/*color: #212529;*/
/*text-align: inherit;*/
/*white-space: nowrap;*/
/*background-color: transparent;*/
/*border: 0;*/
/*}*/