body {
  font-family: 'Noto Sans KR', sans-serif;
}

.text-primary {
  color: #F03861 !important;
}

.content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-header {
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #222;
}

.main-header .dot {
  color: #f03861;
}

.main-header-button {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #888;
}

@media (min-width: 768px) {
  .main-header {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }

  .main-header-button {
    margin: 0 0.5rem;
    font-size: 1.75rem;
  }
}

.ql-editor {
  min-height: 240px;
  font-size: 1rem;
}

.alert {
  color: #444;
  border: 1px #888 solid;
}