.intro .intro-hero {
  margin-bottom: 1rem;
}

.intro .intro-welcome {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
}

.intro .intro-paragraph {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #444;
}

@media (min-width: 768px) {
  .intro .intro-hero {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .intro .intro-welcome {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }

  .intro .intro-paragraph {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}

.intro-photo {
  border-radius: 1rem;
}

.intro .latest-news {
  margin-top: 2rem;
}

.intro .latest-news .header-wrapper {
  margin-bottom: 2rem;
  line-height: 1;
}

.intro .latest-news .header {
  font-size: 1.25rem;
  font-weight: 700;
  color: #444;
  margin-bottom: 0.5rem;
}

.intro .latest-news .see-more {
  font-size: 1rem;
  font-weight: 500;
  color: #f03861;
}

.intro .latest-news .see-more:active,
.intro .latest-news .see-more:hover {
  color: #222;
}


@media (min-width: 768px) {
  .intro .latest-news {
    margin-top: 3rem;
  }
.intro .latest-news .header {
    font-size: 1.5rem;
  }

  .intro .latest-news .see-more {
    font-size: 1.25rem;
  }
}