.intro .intro-welcome {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 1.5rem;
}

.intro .intro-header {
  font-size: 1.125rem;
  font-weight: 500;
  color: #666;
}

.intro .intro-paragraph {
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #666;
  text-shadow: 0 0 4px transparent;
}

@media (min-width: 768px) {
  .intro .intro-welcome {
    font-size: 2.25rem;
    margin-bottom: 3rem;
  }

  .intro .intro-header {
    font-size: 1.375rem;
  }

  .intro .intro-paragraph {
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }
}

.intro-photo {
}

.intro .latest-news {
  margin-top: 6rem;
  border-top: 1px #ccc solid;
  padding-top: 3rem;
}

.intro .latest-news .header-wrapper {
  margin-bottom: 2rem;
  line-height: 1;
}

.intro .latest-news .header {
  font-size: 1.375rem;
  font-weight: 700;
  color: #444;
  margin-bottom: 0;
}

.intro .latest-news .see-more {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #666;
}

.intro .latest-news .see-more:active,
.intro .latest-news .see-more:hover {
  color: #222;
}
