.post {
  margin-bottom: 1.5rem;
}

.post .post-header {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #444;
}

.post .post-header .post-date {
  color: #f03861;
}

.post .post-body {
  margin-bottom: 0;
  color: #444;
}

.post .post-body p {
  margin-bottom: 0.5rem;
}

.post .post-body a:link,
.post .post-body a:visited {
  /*color: #ab0030;*/
  /*color: #f03861;*/
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .post {
    margin-bottom: 2.5rem;
  }

  .post .post-header {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .post .post-body {
    font-size: 1rem;
  }
}