.project {
  box-shadow: 0 4px 48px rgba(0, 0, 0, 0.05), 0 2px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  line-height: 1.8;
  transition: background 0.25s ease-out;
}

.project:hover {
  /*background: #f8f8f8;*/
}

.project.active {
  /*border: 1px solid #ff88a2;*/
}

.project.past {
  /*border: 1px solid #ccc;*/
}

.project-image {
  width: 100%;
  max-height: 18rem;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
  .project-image {
    max-height: 18rem;
  }
}

.project-body {
  padding: 1.5rem 1rem;
  padding: 1.5rem 1.5rem;
}

.project-info {
  min-height: 9rem;
}

.project-organization {
  font-size: 0.75rem;
  color: #e70035;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.project-title {
  /*color: #e70035;*/
  color: #555;
  /*text-transform: uppercase;*/
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.5rem;

  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project-period {
  color: #999;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.project-button {
  display: block;
  text-align: right;
  font-size: 0.875rem;
  color: #666;
  font-weight: 700;
  padding: 0.5rem 0;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
}

.project-button:hover {
  color: #444;
}

.project-button:active {
  color: #444;
}

.project-modal .project-title {
  margin-bottom: 1rem;
}

.project-detail-header {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
  margin-bottom: 0;
}

.project-detail-body {
  font-size: 0.9375rem;
  color: #444;
  margin-bottom: 0.25rem;
}

.project-modal .modal-content {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.1), 0 2px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .project-modal .modal-content {
    padding: 3rem 1rem 1rem;
  }
}

.project-modal .modal-header {
  border-bottom: none;
}

.project-modal .project-summary {
  font-size: 0.9375rem;
  color: #666;
  margin-bottom: 0.75rem;
}

.project-modal .project-summary-header {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
}
