.student-image {
  width: 100%;
  max-width: 14rem;
  margin-bottom: 0.5rem;
}

.student.phd .student-image {
  border-bottom: 4px solid #e70035;
}

.student.ms .student-image {
  border-bottom: 4px solid #888;
}

.student.visiting .student-image {
  border-bottom: 4px solid #aaa;
}

.student-info {
  margin-bottom: 1.5rem;
}

.student-name {
  font-size: 0.9375rem;
  color: #444;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.student-title {
  font-size: 0.75rem;
  color: #444;
}

.student-email {
  font-size: 0.75rem;
  color: #444;
}

.student-website {
  font-size: 0.75rem;
}

.student-info.alumni .student-image {
  max-width: 6rem;
}

.student.alumni.ms .student-info {
  border-top: 4px solid #888;
}
