{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<div id="fh5co-common-section">
    <div class="container">
            <div class="heading-section text-center" style="margin-bottom:0px">
                <h2>M.S. Students</h2>
            </div>

            <div class="row">
                {% for student_info in ms_alumni_list %}
                <div class="col-md-12" >
                    <div style="font-weight: bold">{{ student_info.name }} [{{ student_info.job }}] </div>
                    <div>[{{ student_info.period }}]</div>
                    <hr/>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div><!-- end fh5co-common-section -->


{% endblock %}








