{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<!--<div class="fh5co-parallax" style="background-image: url( {% static 'images/main.jpg'%} );" data-stellar-background-ratio="0.5">-->
<div class="fh5co-parallax">
	<div class="overlay"></div>
	<div class="container">
		<div class="row display-flex">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro fh5co-table-cell">
					<h1 class="text-center" style="font-weight:bold">OSI Lab</h1>
					<h2 class="text-center" style="color:#fff; font-weight:bold">
						OSI Lab studies optimization and statistical inference. We solve a wide range of research from the theoretical analysis of traditional machine learning to the application of the latest deep learning.
					</h2>
				</div>
			</div>
		</div>
	</div>
</div><!-- end: fh5co-parallax -->

<!--<div id="fh5co-work-section">-->
<!--	<div class="container">-->
<!--		<div class="heading-section text-center">-->
<!--			<h2>New Members</h2>-->
<!--		</div>-->

<!--		<div class="row about">-->
<!--			<div class="col-md-12">-->
<!--				<div class="col-md-4 col-sm-4">-->
<!--					<div class="team-section-grid" style="background-image: url({% static '' %}images/members/mingyu.jpg  );">-->
<!--						<div class="overlay-section">-->
<!--							<div class="desc">-->
<!--								<h3>New Memeber</h3>-->
<!--								<span>newmember@kaist.ac.kr</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-4 col-sm-4">-->
<!--					<div class="team-section-grid" style="background-image: url({% static '' %}images/members/mingyu.jpg  );">-->
<!--						<div class="overlay-section">-->
<!--							<div class="desc">-->
<!--								<h3>New Memeber</h3>-->
<!--								<span>newmember@kaist.ac.kr</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-4 col-sm-4">-->
<!--					<div class="team-section-grid" style="background-image: url({% static '' %}images/members/mingyu.jpg  );">-->
<!--						<div class="overlay-section">-->
<!--							<div class="desc">-->
<!--								<h3>New Memeber</h3>-->
<!--								<span>newmember@kaist.ac.kr</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-4 col-sm-4">-->
<!--					<div class="team-section-grid" style="background-image: url({% static '' %}images/members/mingyu.jpg  );">-->
<!--						<div class="overlay-section">-->
<!--							<div class="desc">-->
<!--								<h3>New Memeber</h3>-->
<!--								<span>newmember@kaist.ac.kr</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div id="fh5co-work-section">-->
<!--	<div class="container">-->
<!--		<div class="heading-section text-center">-->
<!--			<h2>On-going Project</h2>-->
<!--		</div>-->
<!--		<div class="row " style="display: flex; flex-wrap: wrap;">-->

<!--			{% for project_info in project_list %}-->
<!--			<div class="col-md-4 col-sm-6">-->
<!--				<div class="fh5co-grid-work">-->
<!--					<div class="work-holder">-->
<!--						<img src="{% static '' %}{{ project_info.img }}">-->
<!--						<div style="text-align: center;">{{ project_info.title }}</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			{% endfor %}-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div id="fh5co-work-section">-->
<!--	<div class="container">-->
<!--		<div class="heading-section text-center">-->
<!--			<h2>This week seminar</h2>-->
<!--		</div>-->
<!--		<div class="row">-->
<!--			<div class="col-md-6 blog-section">-->
<!--				<span>03 <small>July 2016</small></span>-->
<!--				<h3><a href="#">Mourntains countries Vokalia</a></h3>-->
<!--				<p>Far far away, behind the word mountains, far from the countries Vokalia, there live the blind texts.</p>-->
<!--			</div>-->
<!--			<div class="col-md-6 blog-section">-->
<!--				<span>02 <small>July 2016</small></span>-->
<!--				<h3><a href="#">Mourntains countries Vokalia</a></h3>-->
<!--				<p>Far far away, behind the word mountains, far from the countries Vokalia, there live the blind texts.</p>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

{% endblock %}
