{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
    <div id="fh5co-work-section">
        <div class="container">
            <div class="heading-section text-center">
                <h2>Previous seminars</h2>
            </div>
			<div class="row " style="display: flex; flex-wrap: wrap;">
				{% for seminar_info in past_seminar_lst %}
				<div class="col-md-4 col-sm-4">
					<div style="font-weight: bold; margin-top: 20px"> {{ seminar_info.title }} </div>
					<div>{{ seminar_info.presenter }}</div>
				</div>
				{% endfor %}
			</div>
            <hr/>

        </div>
    </div>


{% endblock %}
