<div class="award {{ award.awarded_date.year }}">
  <div class="award-venue">
    {{ award.venue }}
  </div>
  <div class="award-name">
    {{ award.name }}
    {% if request.user.has_member_permissions %}
      <a class="ms-2" href="{% url 'award_update' award.id %}">
        <i class="fas fa-pen-to-square"></i>
      </a>
    {% endif %}
  </div>
  {% if award.paper %}
    <div class="award-paper">
{#      <i class="far fa-file-lines"></i>#}
      Paper: "{{ award.paper }}"
    </div>
  {% endif %}
  <div class="award-awardees">{{ award.awardees }}</div>
</div>

