<div class="award {{ award.awarded_date.year }}">
  <div class="award-venue">
    {{ award.venue }}
  </div>
  <div class="award-name">
    {% if request.user.has_member_permissions %}
      <a href="{% url 'award_update' award.id %}">
        {{ award.name }}
      </a>
    {% else %}
      {{ award.name }}
    {% endif %}
  </div>
  <div>
    {% if award.paper %}
    <span class="award-paper">
      Paper: "{{ award.paper }}"
    </span>
    {% endif %}
    <span class="award-links">
      {% if award.pdf_link %}
        [<a href="{{ award.pdf_link }}">PDF</a>]
      {% endif %}
      {% if award.video_link %}
        [<a href="{{ award.video_link }}">Video</a>]
      {% endif %}
      {% if award.code_link %}
        [<a href="{{ award.code_link }}">Code</a>]
      {% endif %}
    </span>
  </div>
  <div class="award-awardees">{{ award.awardees }}</div>
</div>

