<div class="award {{ award.awarded_date.year }}">
  <div class="award-venue">
    {{ award.venue }}
  </div>
  <div class="award-name">
    {% if request.user.has_member_permissions %}
      <a href="{% url 'award_update' award.id %}">
        {{ award.name }}
      </a>
    {% else %}
      {{ award.name }}
    {% endif %}
  </div>
  {% if award.paper %}
    <div class="award-paper">
      Paper: "{{ award.paper }}"
    </div>
  {% endif %}
  <div class="award-awardees">{{ award.awardees }}</div>
</div>

