{% load staticfiles %}

<div class="member faculty col-12 col-lg-6">
  <img class="member-image" src="{% static 'core/images/professor.png' %}" alt="Professor Se-Young Yun">
  <div class="member-info">
    <div class="member-name">Se-Young Yun</div>
    <div class="member-period">
      Associate Professor
    </div>
    <div class="member-topics">
      <span class="member-topic">
        Theory
      </span>
      <span class="member-topic">
        RL
      </span>
      <span class="member-topic">
        CV
      </span>
      <span class="member-topic">
        NLP
      </span>
    </div>
    <div class="member-email text-break">
      yunseyoung[at]kaist.ac.kr
    </div>
    <div class="member-links">
      [<a class="member-link" href="https://fbsqkd.github.io/">website</a>]
      [<a class="member-link" href="https://scholar.google.com/citations?user=X_IAjb8AAAAJ">scholar</a>]
    </div>
  </div>
</div>
