<div class="publication {{ publication.published_date.year }} {{ publication.type_tag }}"
     data-type="{{ publication.type }}"
     data-year="{{ publication.published_date.year }}"
     data-area-ids="{% for tag in publication.tags.all %}{{ tag.id }} {% endfor %}">
  <div class="publication-tag">
    {{ publication.type_tag }}
  </div>
  <div class="publication-title">
    {% if request.user.has_member_permissions %}
      <a href="{% url 'publication_update' publication.id %}">
        {{ publication.title }}
        <i class="fas fa-chevron-right"></i>
      </a>
    {% else %}
      {{ publication.title }}
    {% endif %}
  </div>
  <div>
    <span class="publication-venue">{{ publication.venue }}</span>
    <span class="publication-links">
      {% if publication.pdf_link %}
        [<a href="{{ publication.pdf_link }}">PDF</a>]
      {% endif %}
      {% if publication.video_link %}
        [<a href="{{ publication.video_link }}">Video</a>]
      {% endif %}
      {% if publication.code_link %}
        [<a href="{{ publication.code_link }}">Code</a>]
      {% endif %}
    </span>
  </div>
  <div class="publication-author">{{ publication.authors }}</div>
</div>

